$ozadje: #0a2b06; 
$tekst: #EAD39D;
$konture: #628F00;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $ozadje;
    color:$tekst;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    font-size:64px;
    font-weight: bold;
    text-align: start;
}

p {
    font-size:36px;
    font-weight: bold;
    text-align: start;
}

hr{
    height: 2px;
    background-color: $konture;
    border: none;  
    opacity: 1;
}

.zanimivost{
    font-weight:lighter;
}

.domacinaslov{
    font-size:90px;
}

.gumb-zelen {
    background-color: $konture;
    color: white;
    padding: 20px 40px;
    border-radius: 20px; // Zaobljeni robovi
    cursor: pointer;
    transition: 0.3s;
    min-height: 80px;

    &:hover {
        opacity: 0.9; // Malo posvetli ob kliku
    }
}